.hidden{
	display: none;
}
.rainbow-text{
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.spaceside{
	margin-right:300px;
}
.spacesright{
	margin-right:2000px;
}
.spaceup{
	margin-top:300px;
}
.tableheader thead {
     display: table-header-group;
}