.hidden{
	display: none;
}
.rainbow-text{
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.spaceside{
	margin-right:300px;
}