<!DOCTYPE html>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="static/images/disc.jpg" alt="" style="width:40px;">
	
  </a>
  
 <!-- Links -->
  <ul class="navbar-nav">
<li class="nav-item">
      <a class="nav-link"href="/">Home</a>
</li>
	
<li class="nav-item">
      <a class="nav-link active" href="/artist_one">Artist One</a>
</li>
	
<li class="nav-item">
      <a class="nav-link" href="/artist_two">Artist Two</a>
</li>
<li class="nav-item">
      <a class="nav-link" href="/artist_three">Artist Three</a>
</li>

<li class="nav-item">
      <a class="nav-link" href="/artist_four">Artist Four</a>
</li>
<li class="nav-item">
      <a class="nav-link" href="/discussion_Board">Discussion Board</a>
</li>
<li class="nav-item">
	 <a class="nav-link" href="/game">Game</a>
</li>
<li 
		class="nav-item">
	<a 
		class="nav-link" 
		href="/signup">Sign Up
	</a>
</li>
  </ul>
</nav>

<div class="container-fluid">
  
</div>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lab 1 Template</title>

    <link rel="stylesheet" href="static/bootstrap/bootstrap.min.css">
    <script src="static/jquery/jquery.js"></script>
    <script src="static/bootstrap/bootstrap.min.js"></script>
    <script src="static/main.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>

<body>	
<div class="jumbotron text-center">
		<h1>Juice Wrld</h1>
		<p><img src="static/images/image1.jpg" class="img" alt="Some image"></p>
</div>
<br />
<div class="container">
<h2>Why I Like Them</h2>
	<p>
		Before listening to rap I only listened to rock and heavy metal. Juice Wrld was able to 		still sound like rock even though he was rapping and I liked the way he was able to add a 		rock style to his songs. Another reason I liked his music is because of the way he 				effortlessly freestyled. He was able to make a song in less than five minutes which I 			thought was shocking.
	</p>
<br /><br />
<h2>Songs I Like</h2>
	<p>
		Juice Wrld's music is usually sad songs talking about dying or breaking up with girls. But 		occasionally you can find a happy song talking about him spending all his money or how he 		lives care free. Some songs I like are Used To, Wasted, Up Up & Away, and XO.
	</p>
<br /> <br />
<h2>My Most Played Song</h2>
<iframe width="560" height="215" src="https://www.youtube.com/embed/Pxhds98iubg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br />
</div>
<p>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href=>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>



</body>
</html>

</body>

</html>

