<!DOCTYPE html>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" <!-- Brand/logo -->
	<a class="navbar-brand" href="#">
		<img src="static/images/disc.jpg" alt="" style="width:40px;">
  </a>

		<!-- Links -->
		<ul class="navbar-nav">
			<li class="nav-item">
				<a 
					class="nav-link" 
					href="/">Home
				</a>
			</li>

			<li class="nav-item">
				<a 
					class="nav-link" 
					href="/artist_one">Artist One
				</a>
			</li>

			<li class="nav-item">
				<a 
					class="nav-link" 
					href="/artist_two">Artist Two
				</a>
			<li class="nav-item">
				<a 
					class="nav-link" 
					href="/artist_three">Artist Three
				</a>
			<li class="nav-item">
				<a 
					class="nav-link" 
					href="/artist_four">Artist Four
				</a>
			<li 
				class="nav-item">
				<a 
					class="nav-link" 
					href="/discussion_Board">Discussion Board
				</a>
			</li>
			<li 
				class="nav-item">
				<a 
					class="nav-link active" 
					href="/game">Game
				</a>
			</li>
			</li>
		</ul>
</nav>

<div class="container-fluid" />
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Lab 1 Template</title>

	<link rel="stylesheet" href="static/bootstrap/bootstrap.min.css">
	<script src="static/jquery/jquery.js"></script>
	<script src="static/bootstrap/bootstrap.min.js"></script>
	<script src="static/main.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>

<body>
	<div id= "jumbo" class="jumbotron text-center">
		<h1>Hangman</h1>
		<h2 id= "jumbo"></h2>


		<!-- This is from lab 4. -->
		<!-- <p>
			<span 
				class="hidden"
				id = "letter_one">C
			</span>
			<span
				id= "letter_c">-
			</span>
			
			<span 
				class="hidden"
				id = "letter_two">O
			</span>  
			<span 
				id= "letter_o">-
			</span>
			<span 
				class="hidden"
				id = "letter_three">M
			</span> 
			<span 
				id= "letter_m">-
			</span>
			<span>P</span> 
			<span 
				class="hidden"
				id = "letter_four">U
			</span> 
			<span 
				id= "letter_u">-
			</span>

			<span>T</span> 
			<span>E</span> 

			<span 
				class="hidden"
				id = "letter_five">R
			</span> 
			<span 
				id= "letter_r">-
			</span>
		</p>-->
	</div> 

	<div class="container">
		<div>
			<div class="row" "container">
				<div id="game_Feedback" class="col-sm-6">
					<p class= "hidden" id="gameover" >You lost!</p>
					<div>
						
						<br />

						<input placeholder="Type a Letter" id="user_textbox">
						<br />
						<br />
						<button id="gamebtn" class="btn btn-success">I'm Feeling Lucky!</button>
						<button id= "restart" class = "hidden btn btn-primary" >Try Again</button>
					</div>
						
						
				</div>
				<div id="hangman" class="col-sm-6">
						<h3>Feedback</h3>

						<img 
							id="pole" 
							style="position:absolute;" 
							src="/static/images/pole.png" 
							height="350" 
						/>
						<img 
							id="head" 
							class="hidden" 
							style="position:absolute; top:95px; left:160px;"
							src="/static/images/head.png" 
							height="50" 
						/>
						<img 
							id="body" 
							class="hidden" 
							style="position:absolute; top:130px; left:169px;"
							src="/static/images/body.png" 
							height="80" 
						/>
							
						<img 
							id="right-arm" 
							class="hidden" 
							style="position:absolute; top:130px; left:175px;"
							src="/static/images/right-arm.png" 
							height="80"
						/>
						<img 
							id="left-arm" 
							class="hidden"
							style="position:absolute; top:130px; right:364px;"
							src="/static/images/left-arm.png" 
							height="80" 
						/>
						<img 
							id="right-leg"  
							class="hidden"
							style="position:absolute; top:196px; left:169px;"
							src="/static/images/right-leg.png" 
							height="80" 
						/>
						<img 
							class="hidden" 
							id="left-leg"
							style="position:absolute; top:196px; left:145px;"
							src="/static/images/left-leg.png" 
							height="80"
						/>
				</div>
				
			</div>
		</div>
	</div>
	<br />

		<!DOCTYPE html>
		<html lang="en">

		<head>
			<title>Bootstrap Example</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href=>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		</head>

		<body>



		</body>

		</html>

</body>

</html>