<!DOCTYPE html>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark"
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="static/images/disc.jpg" alt="" style="width:40px;">
  </a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
	
    <li class="nav-item">
      <a class="nav-link" href="/artist_one">Artist One</a>
    </li>
	
    <li class="nav-item">
      <a class="nav-link" href="/artist_two">Artist Two</a>
	<li class="nav-item">
      <a class="nav-link" href="/artist_three">Artist Three</a>
	<li class="nav-item">
      <a class="nav-link" href="/artist_four">Artist Four</a>
	<li class="nav-item">
      <a class="nav-link" href="/discussion_Board">Discussion Board</a>
	<li class="nav-item">
      <a class="nav-link" href="/game">Game</a>
    </li>
	<li class="nav-item">
		<a class="nav-link" href="/signup">Sign Up</a>
    </li>
	<li 
			class="nav-item">
		<a 
			class="nav-link " 
			href="/Library">Library
		</a>
	</li>
    </li>
  </ul>
</nav>

<div class="container-fluid" />
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lab 1 Template</title>

    <link rel="stylesheet" href="static/bootstrap/bootstrap.min.css">
    <script src="static/jquery/jquery.js"></script>
    <script src="static/bootstrap/bootstrap.min.js"></script>
    <script src="static/main.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>

<body>	
		<div class="jumbotron text-center">
			<h1>Michael's Favorite Music</h1>
			<p>In here I will talk about songs from artists that I like.</p> 
		</div>
	<div class="container"> 
		<h2>Background about me</h2>
		<p>
			I first started getting serious and interested about music my freshman year of high school. Now instead of only listening to an artist I look up interviews and background information about them so I know who I am listening to.
		</p>
		<br />
		
		<h2>Genres</h2>
		<p>
			Some genres that I have been listening to and like are HipHop, rap, rock, and pop.
		</p>
		<br />
		
		<h2>Artists</h2>
		<p>
			The artists that I will be talking about are Lil Uzi Vert, Juice WRLD, A Day to 				Remember, and Frank Ocean.
		</p>
		<br />
		<div >
			<div class="row">
				<div class="col-sm-8">
					<h3>Hello, what is your name?</h3> 
					<input id="inputbox">
					<br />
					<br />
					<h3>What type of music do you listen to?</h3>
					<input id="musicresponses">
					<br /> 
					<br />
					<button 
					id="mybtn" 
					class="btn btn-primary">
					Submit</button>
				</div>
				<div class="col-sm-4">
					<h3>Responses</h3>
					<div id="responses" />
				</div>
			</div>
		</div>
	</div>
	<br />
</div>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href=>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>



</body>
</html>

</body>

</html>

