<!DOCTYPE html>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark"
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="static/images/disc.jpg" alt="" style="width:40px;">
  </a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
	
    <li class="nav-item">
      <a class="nav-link" href="/artist_one">Artist One</a>
    </li>
	
    <li class="nav-item">
      <a class="nav-link" href="/artist_two">Artist Two</a>
	<li class="nav-item">
      <a class="nav-link" href="/artist_three">Artist Three</a>
	<li class="nav-item">
      <a class="nav-link" href="/artist_four">Artist Four</a>
	<li class="nav-item">
      <a class="nav-link" href="/discussion_Board">Discussion Board</a>
	<li class="nav-item">
      <a class="nav-link" href="/game">Game</a>
    </li>
	<li class="nav-item">
		<a class="nav-link" href="/signup">Sign Up</a>
    </li>
	<li 
			class="nav-item">
		<a 
			class="nav-link active" 
			href="/Library">Library
		</a>
	</li>
    </li>
  		<li class="nav-item">
			<a 
				class="nav-link active" 
				href="/address_book">Address Book
			</a>
		</li>
  </ul>
</nav>

<div class="container-fluid" />
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lab 1 Template</title>

    <link rel="stylesheet" href="static/bootstrap/bootstrap.min.css">
    <script src="static/jquery/jquery.js"></script>
    <script src="static/bootstrap/bootstrap.min.js"></script>
    <script src="static/main.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>

<body>	
	<div class="jumbotron text-center">
		<h1>Library</h1>
		<p>	Information from Guttonburgproject</p>
	</div>	
	<div class="container">
		<h2> Here are a list of books that I have read</h2>
		<div >
			<button id ="readbook" class = " btn btn-primary">Click to read!</button>			
				<textarea id= "book" readonly rows="20" class=" hidden form-control"></textarea>
			<button id ="stopreading" class = " hidden btn btn-primary">Stop reading</button>			
		</div>
			<!-- <div >
				<button id ="readbook-one" class = "btn btn-primary">Click to read!</button>			
					<textarea id= "bookodyssey" readonly rows="20" class= "hidden form-control"></textarea>
				<button id ="stopreading-b-one" class = " hidden btn btn-primary">Stop reading</button>			
		</div> -->

	<div class = "row">
		<div id = "picture-of-book" "col-sm-4">
			<img 
			src="static/images/huckleberryFinn.jpg"  
			class="img" 
			alt="Some image"
			height="200">
			</img>
	
		</div>
		<!-- <div id = "picture-of-bookone" "col-sm-4">
			<img 
			src="static/images/odyssey.jpg"  
			class="img" 
			alt="Some image"
			height="200">
			</img>
	
		</div> -->
	<div "col-sm-4">
		<div id= "huckleberry-learn" class = "hidden" >
			<p> 
				This book is a sequel to another book by Mark Twain. I have not read that book so I will only discuss Huckleberry 				Finn. I read this book my sophomore year of high school. I was upset that I had to read this book outside of class 				beacuse I do not liking read much. But, halfways in the book I was hooked. It starts off slow and kind of boring 				but you will start to get interested once he finally runs away from home.
			</p>
			<p><b>Stats about the book:</b></p>
			<div id= "wordcount">
			</div>		
			<br></br>
			<div id = "longestword">	
			</div>		
			<br></br>
			<div id = "most-used-word">	
			</div>
			<br></br>
			<p>Views: <span id = "views-on-page"></span></p>	
			<button id ="show-less" class =" hidden btn btn-primary">Show Less</button>			
		</div>	
		<!-- <div id= "odyssey-learn" class = "hidden" >
			<p> 
				I do not remember this book too much but I know I read it sophomore year of high school. This was one of my least 				favorite books I have ever read. My teacher hyped it up and made it sound very intereesting, but that will all 					come to and end when we start reading it. The book was very hard to follow along and did not make sense at some 				points. This book was a waste of time and I would never read it again.
			</p>
			<p><b>Stats about the book:</b></p>
			<div id= "wordcount-b-one">
			</div>		
			<br></br>
			<div id = "longestword-b-one">	
			</div>		
			<br></br>
			<div id = "most-used-word-b-one">	
			</div>
			<br></br>
			<p>Views: <span id = "views-on-page-b-one"></span></p>	
			<button id ="show-less" class =" hidden btn btn-primary">Show Less</button>			
		</div>	 -->
	</div>
	</div>
	<button right = "2000" id ="learn-more" class ="spaceright btn increment-btn btn-primary">Learn More!</button>
	


	<!-- <button left = "000" id ="learn-more-bookone" class ="btn btn-primary">Learn More!</button>
	</div> -->
	
</body>

