<!DOCTYPE html>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark"
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="static/images/disc.jpg" alt="" style="width:40px;">
  </a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
	
    <li class="nav-item">
      <a class="nav-link" href="/artist_one">Artist One</a>
    </li>
	
    <li class="nav-item">
      <a class="nav-link" href="/artist_two">Artist Two</a>
	<li class="nav-item">
      <a class="nav-link" href="/artist_three">Artist Three</a>
	<li class="nav-item">
      <a class="nav-link" href="/artist_four">Artist Four</a>
	<li class="nav-item">
      <a class="nav-link" href="/discussion_Board">Discussion Board</a>
	<li class="nav-item">
      <a class="nav-link" href="/game">Game</a>
    </li>
	<li class="nav-item">
		<a class="nav-link" href="/signup">Sign Up</a>
    </li>
	<li 
			class="nav-item">
		<a 
			class="nav-link active" 
			href="/Library">Library
		</a>
	</li>
    </li>
  </ul>
</nav>

<div class="container-fluid" />
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lab 1 Template</title>

    <link rel="stylesheet" href="static/bootstrap/bootstrap.min.css">
    <script src="static/jquery/jquery.js"></script>
    <script src="static/bootstrap/bootstrap.min.js"></script>
    <script src="static/main.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>

<body>	
	<div class="jumbotron text-center">
		<h1>Library</h1>
		<p>	Information from Guttonburgproject</p>
	</div>	
	<div class="container">
		<h2> Here are a list of books that I have read</h2>
				<div class="row" "container">
					<div  "col-sm-6">
						<img 
						src="static/images/huckleberryFinn.jpg"  
						class="img" 
						alt="Some image"
						height="200">
						</img>
					</div>
				</div>
					<button id ="learn-more" class ="btn btn-primary">Learn More!</button>
				<div "col-sm-6 ">
					<div id= "huckleberry-learn" class = "hidden" >
						<p> 
							This book is a sequel to another book by Mark Twain. I have not read 							that book so I will only discuss Huckleberry Finn. I read this book my 							sophomore year of high school. I was upset that I had to read this 								book outside of class beacuse I do not liking read much. But, halfways 							in the book I was hooked. It starts off slow and kind of boring but 							you will start to get interested once he finally runs away from home.
						</p>
						<p>Stats about the book</p>
						<div id= "wordcount">

						</div>
							
						<button id ="show-less" class =" hidden btn btn-primary">Show Less</button>
					</div>	
				</div>
	</div>	 
</body>

